.banner {
    background-color: #005EB8;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90px;
    border: 0;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
}
.nhsLogoContainer {
    height: 60px;
    width: 148px;
}