@font-face{
    font-family: Frutiger;
    src: url(/resources/Frutiger.ttf)
}

.banner {
    position: fixed;
    background-color: #045cb4;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90px;
    border: 0;
    font-family: Frutiger;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
    font-family: Frutiger;
}
.nhsLogoContainer {
    margin-left: 10%;
    position: absolute;
    height: 60px;
    width: 148px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: 0.3s;
}
.nhsLogoContainer img:hover{
    border: 3px solid #1a2e55;
    margin: -3px;
}
.nhsLogoContainer p{
    top: 25%;
    font-size: 32px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    margin-left: 160px;
    pointer-events: none;
}
.hospitalImageBanner {
    width: 100%;
    height: 776px;
    overflow: hidden;
}
.hospitalImageBanner img{
    pointer-events: none;
}
.healthWarning {
    border-radius: 25px;
    border: 5px solid #c01010;
    padding: 20px;
    width: auto;
    min-height: 150px;
    max-height: fit-content;
    color: white;
    background-color: #cc7a7a;
}
.healthWarning a{
    color: white;
}
.hospitalImageBannerContainer {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.5s;
}
.textUnderImage {
    margin-left: 10%; 
    transition: 0.3s;
    width: 37.5%;
    float: left;
    margin-top: auto;
}
.textUnderImage p {
    font-size: 22.5px;
}
.fitWithPage {
    margin-top: -265px;
}
.googleMapsiframe {
    width: 37.5%; 
    float: right;
    margin-right: 10%;
}

@media only screen and (max-width: 1450px) {
    .hospitalImageBannerContainer {
        height: 450px;
    }
    .fitWithPage {
        margin-top: -315px;
    }   
}
@media only screen and (max-width: 1243px) {
    .hospitalImageBannerContainer {
        height: 400px;
    }
    .fitWithPage {
        margin-top: -365px
    }   
}
@media only screen and (max-width: 635px) {
    .hospitalImageBannerContainer {
        height: 350px;
    }
    .textUnderImage {
        float: none;
        width: 90%;
        margin-left: 5%;
    }
    .googleMapsiframe {
        float: none;
        width: 95%;
        margin-left: 2.5%;
        margin-top: 10px
    }
    .nhsLogoContainer {
        margin-left: 2.5%;
    }
    .nhsLogoContainer h1{
        margin-left: 155px;
    }
}